
    body {
    margin: 0; 
    padding: 0; 
    background-image: url('/static/community.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    overflow: hidden; 
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    
    background-color:#1876f2;
    padding-right: 2rem;
}


.nav-bar ul{
    display: flex;
    color: rgb(10, 8, 126);
    font-size: larger;
}
ul li{
    text-decoration: none;
    margin-left: 1rem;
    list-style-type: none;
    padding: 3px;
}
ul li:hover{
    background-color: antiquewhite;
    border-radius: 10%;
   
    
}
ul li a{
    text-decoration: solid;
    color: #ddd;
}
ul li a:hover{
    color: blue;
}

.container {
    
    max-width: 800px;
    margin-top: 10px;
    padding: 20px;
    
}

.btn{
    display: flex;
    justify-content: center;
    /* margin-top: 40vh; */
}
.btn a{
    margin: 5px;
}


.button {
     background-color:#1876f2;
    color: white;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.description
{
    margin-top: 20vh;
    margin-bottom: 10px;
}
#desc {
    font-size: 10px;


}

.button:hover {
    background-color: #d5dfd6; 
    color: rgb(46, 27, 219);
}
.footer-links{
    display: flex;
    margin-left: 1rem;
}
footer h4{
    margin-left: 7rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0d4fdd;
    padding: 10px;
    /* display: flex; */
    justify-content: center;
    box-shadow: 0px -5px 10px rgba(5, 130, 161, 0.2); 
}
#copy{
    display: flex;
    justify-content: center;
}
.footerbar{
    display: flex;
    justify-content: center;
}

