*{
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
}
.eco{
    margin-left: 4rem;
}
body{
    background-color: #efefef;
}
.nav{
   /* text-align: center; */
   background-color: rgba(33, 33, 227, 0.546);;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   gap: 4rem;
   align-items: center;

}

.nav ul li{
    display: inline-block;
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
    

}
.navlinks{
    margin-right: 10px;
}
ul li a{
    color: white;
    text-decoration: solid;
    margin-right: 50px;
    letter-spacing: 2px;
    
}
.nav img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 8rem;
    
}
input{
    padding: 1.4rem 6rem;
    /* padding: 15 15px; */
    border-radius: 50px;
    font-size: 20px;
    border: none;
    margin-left: 25rem;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 20px 6%;
}
#event-container{
    box-shadow: 0 0 10px  rgb(0 ,0,0,0.1);
    padding: 6rem;
    background-color: white;
    border-radius: 10px;

}
.event-main{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.description{
    letter-spacing: 2px;
    margin-right: 60px;
}
.calender{
    padding: 0.2rem 3rem;
    letter-spacing: 2px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px  rgb(0 ,0,0,0.1);
    background-color: rgba(33, 33, 227, 0.546);

}