<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - EcoConnect</title>
    <!-- Add your CSS links here -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <div class="nav">
            <h1 class="eco">EcoConnect</style></h1>
            <div class="navlinks">
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">resources</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#">discussions</a></li>
                <!-- Add more navigation links as needed -->
                <!-- <li><a href="#">Logout</a></li> -->
            </ul>
            </div>
            <form action="get">
                <input type="text" placeholder="search">
            </form>
            
            <div> <img src="/static/avatar.jpg" alt=""></div>
        </div>
    </nav>


    <!-- Resource Sharing -->
 <div class="main"> 
    <section id="resources">
        <div class="container">
            <!-- <h2>Resource Sharing</h2> -->
            <!-- Add resource sharing functionality and content here -->
        </div>
    </section>

    <!-- Event Management -->
    <section id="event-container">
        <div class="event-head">
            <h2>Event Management</h2>
            <div class="event-main">
               
            <div class="description">
                <h3>Farming</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Nairobi</p>

            </div>    
            <div class="calender">
                <h3>20</h3>
                <p>april</p>
            </div>
            
            </div>
            <div class="event-main">
               
                <div class="description">
                    <h3>Farming</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p>Nairobi</p>
    
                </div>    
                <div class="calender">
                    <h3>20</h3>
                    <p>april</p>
                </div>
                
                </div>
            
            <!-- Add event management functionality and content here -->
        </div>
    </section>
 </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <!-- <p>&copy; 2024 EcoConnect. All rights reserved.</p> -->
        </div>
    </footer>
</body>
</html>
