<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Events</title>
  <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;900&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/caca41acea.js" crossorigin="anonymous"></script>

</head>
<body>
	<nav>
        <div class="nav">
            <div class="eco">EcoConnect</div>
            <div class="navlinks">
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="dashboard.html">resources</a></li>
                <li><a href="#">events</a></li>
                <li><a href="discusion.html">discussions</a></li>
                <!-- Add more navigation links as needed -->
                <!-- <li><a href="#">Logout</a></li> -->
            </ul>
            </div>
            <form action="get">
                <input type="text" placeholder="search">
            </form>
            
             <div> <img src="/static/avatar.jpg" alt=""></div> 
        </div>
    </nav>

 <section id="event-container">
        <div class="event-head">
            <h2>Event Management</h2>
            <div class="event-main">
               
            <div class="description">
                <h3>Farming</h3>
                <p>Improving farming<br> for local villagers.</p>

            </div>    
            <div class="calender">
                <div id="dates">
                <h4>10</h4>
                <p>april</p>
                </div>
                <h4 class="location"> <i class="fa-solid fa-location-arrow"></i> Nairobi</h4>

            </div>
            </div>
            <div class="event-main" id="event2">
               
                <div class="description">
                    <h3>Technology</h3>
                    <p>Importance of tech <br> community.</p>    
                </div>    
                <div class="calender">

                    <div id="dates">
                     <h4>20</h4>
                    <p>april</p>
                    </div>
            
                    <h4 class="location"> <i class="fa-solid fa-location-arrow"></i> Nairobi</h4>

                </div>
                
                </div>
            
            <!-- Add event management functionality and content here -->
        </div>
    </section>

</body>
</html>