<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>

<nav class="nav-bar">
    <ul>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="login_signup.html">SIGN IN</a></li>
        <li><a href="login_signup.html">LOGIN</a></li>
       

    </ul>
</nav>   
<center>
    <div class="container"> 
        <div class="description">
            <h1>Welcome to EcoConnect</h1>
            <div id="desc">
            Building Sustainable community by making communication easy through EcoConnect
        </div>
        </div>
        
        
        <div class="btn">
             <a href="/login_signup" class="button">JOIN US</a>
             <a href="explore" class="button">EXPLORE</a>
        </div>
       
    </div>

</center> 
    <footer>
        <div id="copy">Usefull Links</div>
       <div class="footerbar">
         
            <ul class="footer-links">
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="login_signup.html">SIGN IN</a></li>
                <li><a href="login_signup.html">LOGIN</a></li>
            </ul>
        </div>
            
        <div id="copy">
         &copy 2024, EcoConnect.
        </div>

    </footer>
    
</body>
</html>
