<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to EcoConnect</h1>
        <p>EcoConnect is a platform for building sustainable communities.</p>
        <!-- Button styled with external CSS -->
        <a href="/login_signup" class="button">Join Us</a>
    </div>   
    
</body>
</html>
